@font-face
  font-family: MASQUE
  src: url(MASQUE__.ttf)
@font-face
  font-family: YAHOO
  src: url(yahoo.ttf)

$gradient: #EFEFEF
$menu1: #49B8DA
$menu2: #A83513
$menu3: #646464
$menu4: #6FBB00
$menu_text: #FFFFFF 
$menu_fonticon: #F9F9F9
  
body
  background-image: url('../images/background_web.jpg')
  background-size: 100% 200px
  background-position: 100% 0px 
  background-repeat: no-repeat
  font: Calibri, Times New Roman
  overflow-x: hidden

#wrapper
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,0)),color-stop(160px, $gradient),color-stop(1, rgba(255,255,255,1)))
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0) 0%, $gradient 160px, rgba(255,255,255,1) 100%)
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0) 0%, $gradient 160px, rgba(255,255,255,1) 100%)
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0%, $gradient 160px, rgba(255,255,255,1) 100%)
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0) 0%, $gradient 160px, rgba(255,255,255,1) 100%)
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, $gradient 160px, rgba(255,255,255,1) 100%)
  zoom: 1
  padding-top: 10px

  #wrap
    margin-top: 20px
    
    #logo
      text-align: center
    
    #social
      position: absolute
      z-index: 1
      width: 40px
      color: rgba(0,0,0,0.2)
      margin-bottom: 40px
      top: 300px
      left: 100% - 40px / 960px * 100%
      
      i
        width: 40px
        height: 40px
        display: block
        margin-top: 10px
        white-space: pre
      
      i:before
        display: inline
        font-size: 40px
      
      .flaticon-facebok:hover
        color: #3B5998
      
      .flaticon-twitter12:hover
        color: #55ACEE
        
      .flaticon-social92:hover
        color: #D74736
      
      .flaticon-social18:hover
        color: #E42D2A
        
      .flaticon-mini3:hover
        color: #17B4EF
        
      .flaticon-social70:hover
        color: #FF7A22
        
      .flaticon-share6:hover
        color: #FFFF00/1.1
      
    #inherit
      margin-top: 10px
      background-color: #FFFFFF
      margin-right: 50px / 960px * 100%
      border-top-color: #D7D7D7
      border-top-style: solid
      border-top-width: 1px
      
      .left
        float: right
        width: 360px
        margin-top: 20px
        margin-left: 20px
    
      #menu
        float: right
        width: 360px
        
        .nav  
          float: right
          width: 360px
          -webkit-margin-before: 0em
          -webkit-margin-after: 0em
          -webkit-padding-start: 0px
          border-style: solid
          border-color: #C7C7C7
          border-top-width: 1px
          border-left-width: 1px
          border-right-width: 0px
          border-bottom-width: 1px
          
          li
            display: inline-block
            height: 90px
            width: 180px
            opacity: 0.5
            vertical-align: top
            list-style-type: none
            
            a
              width: 180px
              height: 90px
              color: $menu_text
              text-decoration: none
              cursor: pointer
            
              img
                float: left
                position: absolute
                width: 45px
                float: left
                padding-top: (45px / 2)
                padding-bottom: (45px /2)
                padding-left: 15px
                padding-right: 15px  
                display: none
              
              span
                float: right
                padding-top: 37px // 90px --> 45px-7px (font-size)
                padding-bottom: 37px // 90px --> 45px-7px (font-size)
                padding-right: 15px
                padding-left: 75px
                width: 90px
                vertical-align: middle
                letter-spacing: -1px
                text-align: right
                font-style: italic
                font-size: 14px
            
            a:before
              float: left
              position: absolute
              width: 150px
              height: 46px
              float: left
              padding-top: 22px
              padding-bottom: 22px
              padding-left: 15px
              padding-right: 15px  
              font-size: 46px
              z-index: 1
            
          li:hover
            opacity: 1
              
          li:nth-child(4n-3)
            background-color: $menu1
            
            a:before
              color: $menu_fonticon
        
          li:nth-child(4n-3):hover
            background-color: $menu1
            
          li:nth-child(4n-2)
            background-color: $menu2
            
            a:before
              color: $menu_fonticon
        
          li:nth-child(4n-2):hover
            background-color: $menu2
          
          li:nth-child(4n-1)
            background-color: $menu3
            
            a:before
              color: $menu_fonticon
        
          li:nth-child(4n-1):hover
            background-color: $menu3
            
          li:nth-child(4n)
            background-color: $menu4+#160023
            
            a:before
              color: $menu_fonticon
        
          li:nth-child(4n):hover
            background-color: $menu4
        
        .active
          border-color: rgba(0,255,0,1) !important
          background-color: rgba(0,255,0,0.7) !important
          
          a
            color: #676767 !important
          
          a:before
            color: #A7A7A7 !important  
        
      #menu+section
        margin-left: 50px / 960px * 100%
        margin-right: 400px
        display: inherit
      
      section
        margin-left: 50px / 960px * 100%
      
        #container
          display: inline-block
          min-height: 800px
          width: 100%
          
          header h1
            font-family: MASQUE
            text-transform: uppercase
            letter-spacing: 2px
            margin-left: 15%
          
          #lang
            position: absolute
            top: 200px
            left: 100% - 50px / 960px * 75%
            width: 40px
            z-index: 3
            
            a
              text-decoration: none
              
              img
                width: 35px
                height: 22px
                margin-bottom: 20px
                    
        #table
          background-color: #EFEFEF
          margin-left: -(50px / 960px * 100%)
          padding-left: (50px / 960px * 100%)*2
          padding-top: 3px
          padding-bottom: 3px
          padding-right: 3px
          outline-width: 1px
          outline-style: solid
          outline-color: #EFEFEF*0.7
          
          .expanded
            width: 100%
            height: 100%
            
            section
              margin: 0px
              padding: 10px
              margin-left: 10px
              margin-right: 10px
              
              a
                text-decoration: none
                color: rgba(0,0,0,0.6)
              
              h3
                font-size: 16px
                font-weight: bol
                padding-bottom: 4px
                
                img
                  height: 20px
                  padding-left: 8px
                  padding-right: 8px
              
              hr
                border: none
                border-top: 1px solid #33F9FF
                color: #33F9FF
                background-color: #33F9FF 
                height: 1px
                margin-bottom: 7px
              
              .detail
                width: 50%
                height: 150px
                padding: 0px
                margin: 0px
                
                img
                  height: 150px
                  width: 200px
                  float: left
    
    footer
      width: 100%
      padding-top: 5px
      padding-bottom: 10px
      background-color: #C9C9C9
      display: inline-block
      border-top-color: #a7a7a7
      border-top-style: solid
      border-top-width: 1px
      
      #foot_bottom
        
        p
          -webkit-margin-before: 0em
          -webkit-margin-after: 0em
          padding-right: 35px
          padding-left: 35px
           
        strong
          float: left    
          padding-left: 35px
          padding-top: 1em
          padding-bottom: 1em
        
        a
          float: right
          padding-right: 35px
          padding-left: 35px
          padding-top: 1em
          padding-bottom: 1em
          color: #4d5357
          text-decoration: none  