@font-face {
  font-family: MASQUE;
  src: url(MASQUE__.ttf); }
@font-face {
  font-family: YAHOO;
  src: url(yahoo.ttf); }
body {
  background-image: url("../images/background_web.jpg");
  background-size: 100% 200px;
  background-position: 100% 0px;
  background-repeat: no-repeat;
  font: Calibri, Times New Roman;
  overflow-x: hidden; }

#wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(160px, #efefef), color-stop(1, white));
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #efefef 160px, white 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #efefef 160px, white 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #efefef 160px, white 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #efefef 160px, white 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #efefef 160px, white 100%);
  zoom: 1;
  padding-top: 10px; }
  #wrapper #wrap {
    margin-top: 20px; }
    #wrapper #wrap #logo {
      text-align: center; }
    #wrapper #wrap #social {
      position: absolute;
      z-index: 1;
      width: 40px;
      color: rgba(0, 0, 0, 0.2);
      margin-bottom: 40px;
      top: 300px;
      left: 95.83333%; }
      #wrapper #wrap #social i {
        width: 40px;
        height: 40px;
        display: block;
        margin-top: 10px;
        white-space: pre; }
      #wrapper #wrap #social i:before {
        display: inline;
        font-size: 40px; }
      #wrapper #wrap #social .flaticon-facebok:hover {
        color: #3b5998; }
      #wrapper #wrap #social .flaticon-twitter12:hover {
        color: #55acee; }
      #wrapper #wrap #social .flaticon-social92:hover {
        color: #d74736; }
      #wrapper #wrap #social .flaticon-social18:hover {
        color: #e42d2a; }
      #wrapper #wrap #social .flaticon-mini3:hover {
        color: #17b4ef; }
      #wrapper #wrap #social .flaticon-social70:hover {
        color: #ff7a22; }
      #wrapper #wrap #social .flaticon-share6:hover {
        color: #e7e700; }
    #wrapper #wrap #inherit {
      margin-top: 10px;
      background-color: white;
      margin-right: 5.20833%;
      border-top-color: #d7d7d7;
      border-top-style: solid;
      border-top-width: 1px; }
      #wrapper #wrap #inherit .left {
        float: right;
        width: 360px;
        margin-top: 20px;
        margin-left: 20px; }
      #wrapper #wrap #inherit #menu {
        float: right;
        width: 360px; }
        #wrapper #wrap #inherit #menu .nav {
          float: right;
          width: 360px;
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-padding-start: 0px;
          border-style: solid;
          border-color: #c7c7c7;
          border-top-width: 1px;
          border-left-width: 1px;
          border-right-width: 0px;
          border-bottom-width: 1px; }
          #wrapper #wrap #inherit #menu .nav li {
            display: inline-block;
            height: 90px;
            width: 180px;
            opacity: 0.5;
            vertical-align: top;
            list-style-type: none; }
            #wrapper #wrap #inherit #menu .nav li a {
              width: 180px;
              height: 90px;
              color: white;
              text-decoration: none;
              cursor: pointer; }
              #wrapper #wrap #inherit #menu .nav li a img {
                float: left;
                position: absolute;
                width: 45px;
                float: left;
                padding-top: 22.5px;
                padding-bottom: 22.5px;
                padding-left: 15px;
                padding-right: 15px;
                display: none; }
              #wrapper #wrap #inherit #menu .nav li a span {
                float: right;
                padding-top: 37px;
                padding-bottom: 37px;
                padding-right: 15px;
                padding-left: 75px;
                width: 90px;
                vertical-align: middle;
                letter-spacing: -1px;
                text-align: right;
                font-style: italic;
                font-size: 14px; }
            #wrapper #wrap #inherit #menu .nav li a:before {
              float: left;
              position: absolute;
              width: 150px;
              height: 46px;
              float: left;
              padding-top: 22px;
              padding-bottom: 22px;
              padding-left: 15px;
              padding-right: 15px;
              font-size: 46px;
              z-index: 1; }
          #wrapper #wrap #inherit #menu .nav li:hover {
            opacity: 1; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n-3) {
            background-color: #49b8da; }
            #wrapper #wrap #inherit #menu .nav li:nth-child(4n-3) a:before {
              color: #f9f9f9; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n-3):hover {
            background-color: #49b8da; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n-2) {
            background-color: #a83513; }
            #wrapper #wrap #inherit #menu .nav li:nth-child(4n-2) a:before {
              color: #f9f9f9; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n-2):hover {
            background-color: #a83513; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n-1) {
            background-color: #646464; }
            #wrapper #wrap #inherit #menu .nav li:nth-child(4n-1) a:before {
              color: #f9f9f9; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n-1):hover {
            background-color: #646464; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n) {
            background-color: #85bb23; }
            #wrapper #wrap #inherit #menu .nav li:nth-child(4n) a:before {
              color: #f9f9f9; }
          #wrapper #wrap #inherit #menu .nav li:nth-child(4n):hover {
            background-color: #6fbb00; }
        #wrapper #wrap #inherit #menu .active {
          border-color: lime !important;
          background-color: rgba(0, 255, 0, 0.7) !important; }
          #wrapper #wrap #inherit #menu .active a {
            color: #676767 !important; }
          #wrapper #wrap #inherit #menu .active a:before {
            color: #a7a7a7 !important; }
      #wrapper #wrap #inherit #menu + section {
        margin-left: 5.20833%;
        margin-right: 400px;
        display: inherit; }
      #wrapper #wrap #inherit section {
        margin-left: 5.20833%; }
        #wrapper #wrap #inherit section #container {
          display: inline-block;
          min-height: 800px;
          width: 100%; }
          #wrapper #wrap #inherit section #container header h1 {
            font-family: MASQUE;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-left: 15%; }
          #wrapper #wrap #inherit section #container #lang {
            position: absolute;
            top: 200px;
            left: 96.09375%;
            width: 40px;
            z-index: 3; }
            #wrapper #wrap #inherit section #container #lang a {
              text-decoration: none; }
              #wrapper #wrap #inherit section #container #lang a img {
                width: 35px;
                height: 22px;
                margin-bottom: 20px; }
        #wrapper #wrap #inherit section #table {
          background-color: #efefef;
          margin-left: -5.20833%;
          padding-left: 10.41667%;
          padding-top: 3px;
          padding-bottom: 3px;
          padding-right: 3px;
          outline-width: 1px;
          outline-style: solid;
          outline-color: #a7a7a7; }
          #wrapper #wrap #inherit section #table .expanded {
            width: 100%;
            height: 100%; }
            #wrapper #wrap #inherit section #table .expanded section {
              margin: 0px;
              padding: 10px;
              margin-left: 10px;
              margin-right: 10px; }
              #wrapper #wrap #inherit section #table .expanded section a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.6); }
              #wrapper #wrap #inherit section #table .expanded section h3 {
                font-size: 16px;
                font-weight: bol;
                padding-bottom: 4px; }
                #wrapper #wrap #inherit section #table .expanded section h3 img {
                  height: 20px;
                  padding-left: 8px;
                  padding-right: 8px; }
              #wrapper #wrap #inherit section #table .expanded section hr {
                border: none;
                border-top: 1px solid #33f9ff;
                color: #33f9ff;
                background-color: #33f9ff;
                height: 1px;
                margin-bottom: 7px; }
              #wrapper #wrap #inherit section #table .expanded section .detail {
                width: 50%;
                height: 150px;
                padding: 0px;
                margin: 0px; }
                #wrapper #wrap #inherit section #table .expanded section .detail img {
                  height: 150px;
                  width: 200px;
                  float: left; }
    #wrapper #wrap footer {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 10px;
      background-color: #c9c9c9;
      display: inline-block;
      border-top-color: #a7a7a7;
      border-top-style: solid;
      border-top-width: 1px; }
      #wrapper #wrap footer #foot_bottom p {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        padding-right: 35px;
        padding-left: 35px; }
      #wrapper #wrap footer #foot_bottom strong {
        float: left;
        padding-left: 35px;
        padding-top: 1em;
        padding-bottom: 1em; }
      #wrapper #wrap footer #foot_bottom a {
        float: right;
        padding-right: 35px;
        padding-left: 35px;
        padding-top: 1em;
        padding-bottom: 1em;
        color: #4d5357;
        text-decoration: none; }
