/* Non Commercial Font - IE Doesn't Support TTF - cooltext.com */
@font-face { font-family: MASQUE; src: url(MASQUE__.ttf); }
@font-face { font-family: YAHOO; src: url(yahoo.ttf); }  


body{
    background-image: url('../images/background-x-y_slim2.jpg');
    background-size: 100% 400px;
    background-position: 100% 0px;
    background-repeat: repeat-y;
}

@media (max-width: 960px){
    body{
        background-size: 100% 200px;
    }
}
/*
#wrapper{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,0,0,0.1)), to(rgba(255,255,255,0)));
	background-image: -moz-linear-gradient(100% 100% 90deg,rgba(255,255,255,0),rgba(255,0,0,0.1));
	background-image: -webkit-linear-gradient(rgba(255,0,0,0.1),rgba(255,255,255,0));
	background-image: -ms-linear-gradient(rgba(255,0,0,0.1),rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,0,0,0.1),rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,0,0,0.1),rgba(255,255,255,0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgba(255,0,0,0.1), endColorstr=rgba(255,255,255,0));
	zoom: 1;
	padding-top: 10px;
}
#wrap{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 1200px) {
    #wrap{
        width: 100%;
    }
}
#logo{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#logo img{
	max-height: 120px;
}
.left{
	width: 230px;
	clear: left;
	float: left;
}
#menu{
	font-family: Calibri, Times;
	font-size: 16px;
	background-color: rgba(255,255,255,1);
	width: 200px;
	border-style: solid;
    border-color: #00FFFF;
    border-width: 0px 3px;
    padding: 20px 7px;
    margin-top: 30px;
}
#menu a{
	padding: 8px 7px;
	display: block;
	width 180px;
	text-decoration: none;
	border-style: solid;
    border-color: rgba(0,0,0,0);
    border-width: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: border 1s, background-color 1s, transform 1s;
    -webkit-transition: border 1s, background-color 1s, -webkit-transform 1s;
}
#menu a:visited{
    background-color: rgba(0,0,0,0.1);
}
#menu a:hover{
    border-color: rgba(0,0,255,1);
    background-color: rgba(0,0,255,0.1);
}
#menu a:active{
    transition: border 0s, background-color 0s, transform 1s;
    -webkit-transition: border 0s, background-color 0s, -webkit-transform 1s;
    border-color: rgba(255,0,0,1);
    background-color: rgba(255,0,0,0.1);
}
#menu img{
	height: 25px;
	float: right;
	margin-top: -4px;
}
.selected{
    border-color: rgba(0,255,0,1) !important;
    background-color: rgba(0,255,0,0.1) !important;
}
.left{
	background-color: rgba(255,255,255,1);
	font-family: Calibri, Times;
	font-size: 16px;
	background-color: rgba(255,255,255,1);
	width: 200px;
	border-style: solid;
    border-color: #00FFFF;
    border-width: 0px 3px;
    padding: 20px 7px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.left:empty{
	display:none
}
#container{
	padding-left: 30px;
	margin-top: 30px;
}
#container{
    margin-left: 250px;
}
.container{
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 3px;
    border-color: #FFFF00;
}
#lang{
	float: right;
	margin-top: 14px;
	margin-right: 15px;	
}
.mod-languages{
	position: absolute;
	top: 180px;
	margin-left: -55px;
}
.mod-languages a{
	float: left;
	margin-right: 10px;
}
.mod-languages a,.mod-languages img{
	display: block;
	width: 22px;	
	height: 15px;
}

#title h1{
    font-family: MASQUE;
    font-size: 30px;
    letter-spacing: 3px;
    word-spacing: 18px;
    padding-top: 32px;
    padding-bottom: 28px;
    padding-left: 16px;
    margin: 0px;
}
#path{
	display: none;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 3px 0px;
    border-color: #FFB400;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 12px;
}
#path a{
    text-decoration: none;
    color: #000000;   
}
#path a:after{
    content: " > ";
}
.content, #ccontent > *{
	margin-top: 30px;
    padding: 30px 20px;
    font-family: Calibri, Times;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 3px;
    border-color: #FFFF00;
}
.page-header a{
	color: rgba(0,0,0,1);
	text-decoration: none;
}
p{
    margin: 15px;
}
#d_title h3{
	margin-bottom: 0px;
	padding-bottom: 0px; 
}
#d_title a{
	text-decoration: none;
	color: black;
}
#webutation-badge{
	float: right;
}
#webutation-badge img{
	position: absolute;
	margin-top: -40px;
	margin-left: -160px;
}
#d_image{
	float: left;
	width: 380px;
	height: 250px;
}
#d_detail{
	margin-left: 400px;
	height: 250px;
}
footer{
	margin-top: 100px;
    padding: 20px 25px;
    font-family: Calibri, Times;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 3px 3px 0px 3px;
    border-color: rgba(0,255,255,1) rgba(255,255,0,1) transparent rgba(255,255,0,1);
    padding: 30px 20px;
    clear: both;
}
footer a, footer strong{
	float: right;
	text-decoration: none;
	color: rgba(0,0,0,1);
	font-weight: bold;
	margin-left: 10px;
}
footer a:before{
	content: "|";
	margin-right: 10px;
}

h1,h2,h3,h4,h5,h6{
    font-family: Verdana, Arial;
}
.image{
	max-width: 100%;
	height: auto;
	width: auto;
}*/



/* W2UI Patch */
.w2ui-grid-data div:empty{
	background-color: rgba(255,0,0,0.3) !important;
	content: " " !important;
}
.w2ui-grid-data + .w2ui-grid-data div[title=0]:after{
	background-color: rgba(255,0,0,1) !important;
	position: absolute;
	height: 24px;
	width: 50px;
	margin-left: -29px;
	margin-top: -6px;
	padding-top: 6px;
	content: "offline" !important;
}
.w2ui-grid-data + .w2ui-grid-data div[title="1"]:after{
	background-color: rgba(0,255,0,1) !important;
	position: absolute;
	height: 24px;
	width: 50px;
	margin-left: -29px;
	margin-top: -6px;
	padding-top: 6px;
	content: "online" !important;
}