@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-antivirus:before {
	content: "\e000";
}
.flaticon-arroba4:before {
	content: "\e001";
}
.flaticon-box2:before {
	content: "\e002";
}
.flaticon-data26:before {
	content: "\e003";
}
.flaticon-dwelling1:before {
	content: "\e004";
}
.flaticon-email6:before {
	content: "\e005";
}
.flaticon-facebok:before {
	content: "\e006";
}
.flaticon-folder112:before {
	content: "\e007";
}
.flaticon-landscape:before {
	content: "\e008";
}
.flaticon-link3:before {
	content: "\e009";
}
.flaticon-lock2:before {
	content: "\e00a";
}
.flaticon-mini3:before {
	content: "\e00b";
}
.flaticon-news3:before {
	content: "\e00c";
}
.flaticon-pencil41:before {
	content: "\e00d";
}
.flaticon-reply3:before {
	content: "\e00e";
}
.flaticon-share6:before {
	content: "\e00f";
}
.flaticon-social18:before {
	content: "\e010";
}
.flaticon-social70:before {
	content: "\e011";
}
.flaticon-social92:before {
	content: "\e012";
}
.flaticon-technical:before {
	content: "\e013";
}
.flaticon-twitter12:before {
	content: "\e014";
}
.flaticon-upload4:before {
	content: "\e015";
}
